    /* Reset default margin and padding */
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }

    /* Nastavení stylů pro kontejner */
    .container {
        /* display: flex;  */
        /* justify-content: space-between;  */
        align-items: center;
        padding-top: 10px;
        margin: 0 20px 0 20px;
    }

    /* Nastavení stylů pro sekce */
    .section {
        color: #555555;
        text-align: center;
    }

    /* Nastavení stylů pro tlačítka a odstavec */
    .buttons {
        /* display: flex; */
        text-align: center;
        margin-top: -20px;
    }

    h1 p {
        color: #555555;
        font-size: 5px;
        margin-top: 20px;
    }

    img {
        width: 30em;
        height: auto;
    }

    button {
        font-weight: 700;
        font-size: 18px;
        padding: 5px 10px;
        margin: 20px auto;
        display: block;
        border: none;
        cursor: pointer;
        background-color: #A82C24;
        color: #fff;
        border-radius: 25px;
        transition: background-color 0.3s;
    }

    .buttons {
        margin-top: 10px;
    }

    .timer-button.active {
        background-color: #e74c3c;
    }

    #timer {
        color: #555555;
        font-size: 65px;
        margin-top: 20px;
    }

    /* Style for the timer during the last 5 seconds */
    #timer.red-text {
        color: #e74c3c;
        font-size: 70px;
    }

    /* Media query for screens with a maximum width of 600px (typical mobile devices) */
    @media (max-width: 600px) {
        .container {
            padding-bottom: 0;
        }

        .buttons {
            font-size: 50px;
            display: block;
            /* Tlačítka budou zobrazena jako blokové elementy, jeden pod druhým */
            width: 100%;
            /* Tlačítka budou plné šířky rodičovského kontejneru */
            margin-bottom: 5px;
            /* Odsazení mezi tlačítky */
        }

        #timer {
            font-size: 50px;
            font-weight: 600;
        }

        /* Mobile style for the timer during the last 5 seconds */
        #timer.red-text {
            font-size: 60px;
        }

        img {
            max-width: 100%;
            height: auto;
            /* Ujistěte se, že zachováte původní poměr stran obrázku */
        }
    }
